<div class="col">
<div class="card text-dark bg-light h-50" style="width: 20rem;margin-top:20px">
  <div class="card-header">Longest Remaining Guest</div>
  <div class="card-body">
    <h1 class="card-title">Days left: {{max_stay}} </h1>
  </div>
</div>
</div>


