<div class="col">
<div class="card text-dark bg-light" style="width: 20rem;margin-top:20px">  
    <div class="card-header">Pet Count by Month</div>
    <div class="card-body">
    <canvas id="petbymonth" width="200" height="200"></canvas>
    <script>
        const ctx_petbymonth = document.getElementById('petbymonth').getContext('2d');
        const labels = ['Jan','Feb','March','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
        const petbymonth = new Chart(ctx_petbymonth, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Pet Count',
                    data: [{{parameter_month_counts}}],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    </div>
</div>
</div>