<div id="petProfile">
        <h1 id="pPheader">PET NAME's Profile</h1>
        <div id=petData>
            <div id="left-column">
                <h3>Info:</h3>
                <p>Owner's name: OWNER'S NAME</p>
                <p>Owner's phone: OWNER'S PHONE</p>
                <p>Pet Type: PET TYPE</p>
                <p>Pet Species: PET SPECIES</p>
                <p>Check-In Date: CHECK IN DATE</p>
                <p>Check-out Date: CHECK OUT DATE</p>
                <p>Kennel Size: KENNEL SIZE</p>
            </div>
            <div id="right-Column">
                <h3>Activities:</h3>
                {{!-- {{#each}} --}}
                <p>Earliest Activity</p>
                <p>Latest Activity</p>
            </div>

        </div>
        
        <button>Edit Pet Data</button>
        <button>Delete Pet</button>

    </div>


