<div class="col">
<div class="card text-dark bg-light h-50" style="width: 20rem;margin-top:20px">
  <div class="card-header">Pets With No Activity</div>
  <div class="card-body overflow-auto">
    {{#each parameter as |activity|}}
    <h3 class="card-title">{{activity}}</h3>
    {{/each}}
  </div>
</div>
</div>


