<div class="col">
<div class="card text-dark bg-light h-50" style="width: 20rem;margin-top:20px">
  <div class="card-header">Total Pets</div>
  <div class="card-body">
    <h1 class="card-title">{{parameter}}</h1>
  </div>
</div>
</div>


