<div class= "container analytics">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{> totalPet parameter=total_pet}}
    {{> petCount parameter=pet_count}}
<<<<<<< HEAD
    {{> maxStayDuration parameter=max_stay}}
=======
    {{> busiestPet parameter=busiestPet}}
    {{> totalActivity parameter=total_activity}}
    {{> activityCount parameter=activityNumbers}}
    {{> petsWithNoActivities parameter=petsWithNoActivities}}
>>>>>>> bfdff60fb3ee22c70ed7be2e440cadd588302580
    </div>
</div>
