<div class= "container analytics">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{> totalPet parameter=total_pet}}
    {{> petCount parameter=pet_count}}
<<<<<<< HEAD
    {{> busiestPet parameter=busiestPet}}
=======
    {{> totalActivity parameter=total_activity}}
    {{> activityCount parameter=activityNumbers}}
    {{> petsWithNoActivities parameter=petsWithNoActivities}}
>>>>>>> 8d54a17f53ed815061c00e37d8701ba2ff69b786
    </div>
</div>
