<div class= "container analytics">
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {{> totalPet parameter=total_pet}}
    {{> petCount parameter=pet_count}}
    {{> maxStayDuration parameter=max_stay}}
    {{> petbyMonth parameter_month_counts=month_counts parameter_month=months}}
    {{> busiestPet parameter=busiestPet}}
    {{> totalActivity parameter=total_activity}}
    {{> activityCount parameter=activityNumbers}}
    {{> petsWithNoActivities parameter=petsWithNoActivities}}
    </div>
</div>
