<div class= "container analytics">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{> totalPet parameter=total_pet}}
    {{> petCount parameter=pet_count}}
    {{> busiestPet parameter=busiestPet}}
    {{> totalActivity parameter=total_activity}}
    {{> activityCount parameter=activityNumbers}}
    {{> petsWithNoActivities parameter=petsWithNoActivities}}
    </div>
</div>
