<div id="createPage">
    <p id="title">Create a New Schedule Activity!</p>
    <div id='inputs'>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Type (walk, meal, medicine, playtime, etc):</span>
            </div>
            <input type="text" class="form-control customprepend activityTypeField" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Description</span>
            </div>
            <input type="text" class="form-control customprepend activityDescriptionField" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Time</span>
            </div>
            <input type="text" class="form-control customprepend activityTimeField" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
    <button type="button" class="btn btn-dark createActivitySubmit">Submit</button>
</div>
<script src="./js/createScheduledActivityScript.js"></script>