<div id="createPage">
    <p id="title">Create a new pet</p>
    <div id='inputs'>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Pet's Name:</span>
            </div>
            <input type="text" class="form-control customprepend" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <label class="input-group-text customprepend" for="inputGroupSelect01">Pet Type</label>
            </div>
            <select class="custom-select customprepend" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="other">Others</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Pet's Species:</span>
            </div>
            <input type="text" class="form-control customprepend" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 petOwnerField">
            <div class="input-group-prepend ">
                <label class="input-group-text customprepend" for="inputGroupSelect01">Pet Owner</label>
            </div>
            <select class="custom-select customprepend " id="inputGroupSelect01">
                <option selected>Choose...</option>
                {{#each petOwners as |petOwner|}}
                <option value="{{petOwner.id}}">{{petOwner.owner_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <label class="input-group-text customprepend" for="inputGroupSelect01">Pet Type</label>
            </div>
            <select class="custom-select customprepend" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="others">Others</option>

            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <label class="input-group-text customprepend" for="inputGroupSelect01">Overnight Stay?</label>
            </div>
            <select class="custom-select customprepend" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Check-In Date</span>
            </div>
            <input type="text" class="form-control customprepend" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <span class="input-group-text customprepend" id="inputGroup-sizing-default">Check-Out Date</span>
            </div>
            <input type="text" class="form-control customprepend" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend customprepend">
                <label class="input-group-text customprepend" for="inputGroupSelect01">Choose a Kennel Size</label>
            </div>
            <select class="custom-select customprepend" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
            </select>
        </div>
    </div>
    <button type="button" class="btn btn-dark createPetSubmit">Submit</button>
</div>
<script src="./js/createPetPageScript.js"></script>