{{#unless logged_in}}
{{> loggedOutHeader }}
{{/unless}}



<div class="h-100 row d-flex">
  <div class="col-md-12">
    <div class="center col-md-3 text-dark">
      <div id="loginGroup">
        <h2 id="loginTitle" class="fs-3 btnColor loginNoBtn text-dark">Login</h2>
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login" class=" login-headers fs-4 btnColor loginNoBtn text-dark">User Name:</label>
            <input class="form-input fs-4 text-dark" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label  for="password-login" class="login-headers fs-4 btnColor loginNoBtn text-dark">Password:</label>
            <input class="form-input fs-4 text-dark" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="login-headers btn btn-primary fs-4 btnColor text-dark m-0 orangeBtn" type="submit">Login</button>
            <button id="signUp" class=" login-headers btn btn-primary fs-4 btnColor text-dark m-0 orangeBtn" type="button">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="./js/login.js"></script>