
<div class="h-100 row align-items-center vertical-center-row d-flex justify-content-lg-center">
  <div class="col-md-10">
    <div class="center col-md-4">
      <h2 class="fs-1 btnColor">Sign Up</h2>
      <form class="form login-form">
        <div class="form-group">
          <input class="form-input fs-2" type="text" id="email-signUp" />
          <label class="fs-2 btnColor" for="email-login">:User Name</label>
        </div>
        <div class="form-group">
          <input class="form-input fs-2" type="password" id="password-signUp" />
          <label class="fs-2 btnColor" for="password-login">:Password</label>
        </div>
        <div class="form-group">
          <input class="form-input fs-2" type="password" id="password-verify" />
          <label class="fs-2 btnColor" for="password-login">:Verify Password</label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary fs-2 btnColor" id="createAcct">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>



<script src="./js/signup.js"></script>