{{#unless logged_in}}
<header id="toolbar">
  <img src="https://cdn.onlinewebfonts.com/svg/img_74462.png">
  <h1>JustFurPets</h1>
  <nav>
    <ul id="toolbarOpts">
      <li><a href="/">Home Page</a></li>
    </ul>
  </nav>
</header>
{{/unless}}

<div class="h-100">
  <div class="col-md-12">
    <div id="loginGroup2" class="center col-md-12">
      <h2 id="loginTitle2" class="btnColor loginNoBtn">Sign Up</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login"class="signUpWidth"> email</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login"class="signUpWidth"> password</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <label for="password-login"class="signUpWidth"> verify password</label>
          <input class="form-input" type="password" id="password-verify" />
        </div>
        <div class="form-group">
          <button id="moreSpacebtn" class="btn btn-primary btnColor" type="submit">Sign Up</button>
        </div>
      </form>
  </div>
</div>
</div>

<script src="./js/signup.js"></script>