{{#unless logged_in}}
{{> loggedOutHeader }}
{{/unless}}


<div class="h-100">
  <div class="col-md-12">
    <div id="loginGroup2" class="center col-md-12">
      <h2 id="loginTitle2" class="btnColor loginNoBtn">Sign Up</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login"class="signUpWidth"> username</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login"class="signUpWidth"> password</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <label for="password-login"class="signUpWidth"> verify password</label>
          <input class="form-input" type="password" id="password-verify" />
        </div>
        <div class="form-group">
          <button id="signUp" class=" login-headers btn btn-primary fs-4 btnColor text-dark m-0 orangeBtn" type="submit">Signup</button>
        </div>
      </form>
  </div>
</div>
</div>

<script src="./js/signup.js"></script>