html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-image:url('https://st3.depositphotos.com/3058647/14243/v/450/depositphotos_142432659-stock-illustration-animal-paw-seamless-gray-pattern.jpg'); 
    background-size: contain;
}

#homepage{
    position:relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    background-image:url('https://st3.depositphotos.com/3058647/14243/v/450/depositphotos_142432659-stock-illustration-animal-paw-seamless-gray-pattern.jpg'); 
    background-size: contain;
    height: 100%;
}


#homepage #title{
    font-family: sans-serif;
    font-size: 100px;
    margin-top: 100px;
    font-weight: 100px;
    background-color: #e48365;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
       
}

#homepage #petsBtn{
    font-size: 40px;
    max-width: 400px;
    border-radius: 5px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: #a4cdd4;
}

#petsBtn a, #loginBtn a{
    color:black;
}

#petsBtn a:hover, #loginBtn a:hover{
    text-decoration: none;
}

#petsBtn:hover, #loginBtn:hover {
    background-color: #6fc4c7 !important;
    box-shadow: 1px 1px 15px 1px rgb(97, 97, 97);
}


#homepage #loginBtn{
    font-size: 20px;
    max-width: 150px;
    border-radius: 5px;
    margin: auto;
    background-color: #a4cdd4;
}


#toolbar {
    display: flex;
    background-color: #e48365; 
    color: black;
} 

#toolbar h1{
    margin:20px 0px 0px 0px;
    font-size: 40px;
}

#toolbarOpts{
    display: flex; 
    justify-content: space-between; 
    list-style-type: none; 
    font-size: 25px; 
    text-decoration: none;
    padding-top: 30px;
}

#toolbarOpts a{
    color:black;
    margin-right: 35px;
}

#toolbar img{
    height: 50px;
    margin: 15px ;
}


#createPage
{
    margin:auto ;
    position:relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    background-image:url('https://st3.depositphotos.com/3058647/14243/v/450/depositphotos_142432659-stock-illustration-animal-paw-seamless-gray-pattern.jpg'); 
    background-size: contain;
    height: 100%;
}

#createPage #title,#pPheader
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 100px;
    background-color: #60bfcf;
    border: 2px solid black;
    border-radius: 10px;    
}

#createPage .customprepend{
    font-size: 20px;
    height:auto;
}

#createPage #inputs
{
margin: 30px 300px 0px 300px;
background-color: #a4cdd4;
padding:15px;
border: 4px solid #7dc5d1;
border-radius: 25px;
max-width: 70%;
}

#createPage .createPetSubmit
{
    height:auto;
    width: 150px;
    align-self: center;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

.createPetSubmit{
    background-color: #e48365;
    border-radius: 5px;
    border-style: solid;
    border-color: #e48365; 
}

/* Create Pet Owner */
#createPetOwnerBtn, #submitPetOwnerBtn{
    background-color: #e48365;
    border-radius: 5px;
    border-style: solid;
    border-color: #e48365;
}



/* css styles for view all pets page */
.allpets {
    margin-top:30px;
}

#viewpetBtn {
    background-color: #e48365;
    border-radius: 5px;
    border-style: solid;
    border-color: #e48365;
}

.largerButtonPetType{
    font-size: 20px;
    background-color: #e48365;
}

.dropdown-menu{
    font-size: 15px;
}


.center{
    left: 40%;
    position: relative;
}

/* css for pet profile */
#petProfile{
    margin-left: 20px;
    font-size: 25px;
    background-color: #a4cdd4;
    padding:15px;
    padding-top: 5px;
    border: 4px solid #7dc5d1;
    border-radius: 25px;
    max-width: 70%;
}
#pPheader{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 10px;
}
#petData{
    display:flex;
    
}
#right-Column{
    margin-left: 50px;
}

#petProfile button{
    background-color: #e48365;
}

#petProfile h3{
    font-size: 35px;
    text-decoration: underline;
}

#updatePet:hover, #deletePet:hover, #submitPet:hover{
    background-color: #e06a45;
    box-shadow: 1px 1px 15px 1px rgb(97, 97, 97);
}

#submitPet{
    background-color: #e48365;
}
#dialog{
    background-image:url('https://st3.depositphotos.com/3058647/14243/v/450/depositphotos_142432659-stock-illustration-animal-paw-seamless-gray-pattern.jpg'); 
}
.myTitleClass .ui-dialog-titlebar {
    background:#e48365;
}